<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @followship.user_id %>
</p>

<p>
  <b>Follower:</b>
  <%= @followship.follower_id %>
</p>

<p>
  <b>Create:</b>
  <%= @followship.create %>
</p>

<p>
  <b>Destroy:</b>
  <%= @followship.destroy %>
</p>


<%= link_to 'Edit', edit_followship_path(@followship) %> |
<%= link_to 'Back', followships_path %>
