<div class = "users">
	<div><%= link_to "Home", tweets_path %></div>
	<div class = "usersTable">
		<div>
			<table>
				<% @users.each do |user| %>
					<tr>
						<td  class = "fullname"><%= user.fullname %></td>
						<td class = "button">
              <%# REFACTOR: WA: Move the statement in 'if' inside User model %>
              <%# Refactored: NG %>
							<% if @followed = user.followed?(current_user.id) %>
								<%= button_to "Following", follow_path(@followed), :method => :delete %>
							<% else %>
								<%= button_to "Follow", follows_path(:following_id => user.id), :method => :post %>
							<% end %>
						</td>
					</tr>
					<tr class = "border">
						<td colspan = "2">@<%= user.username %></td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>
