<% image = @album.images.build %>
<% image.tags.build %>
<%= form_for(@album) do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id, :readonly => true, :value => session[:current_user_id] %>
  </div>
  
  <div class = "nested_img">
	 	<h2>Images</h2>
		<%= f.fields_for :images do |builder| %>
			<%= render "images/form", :f => builder %>
		<% end %>
		<p><%= link_to_add_fields "More images", f, :images %></p>
	</div>
	  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
