<p id="notice"><%= notice %></p>

<table id = "alb_usr">
	<tr>
		<td><b>Album:</b> <%= @album.name %></td>
	</tr>
</table>

<div><h1>Images</h1></div>

<div>
	<table class = "images_table">
		<tr id = "headers">
			<th id = "first">Title</td>
			<th>Image</td>
			<th></th>	
			<th></th>
		</tr>			
	<% @album.images.each do |image| %> 
		<tr class = "images_row">
			<td class = "first"><%= image.title %></td>
			<td><%= image_tag image.picture.url(:thumb) %></td>
      <%# FIXME: WA: Following two links are used to 'show' and 'destroy'
      a single image. There is no need to create a URI like /albums/:id/image/:image_id.
      A URI like /images/:id will suffice. 
      # Fixed: NG
      %>
			<td class = "link"><%= link_to "show",  image %></td>
			<td class = "link"><%= link_to "destroy", image, confirm: 'Are you sure!', method: :delete %></td>
		</tr>
	<% end %>
	</table>
	<br />
 </div>
<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>

