<%= form_for(@tweet) do |f| %>
	<table>
		<tr>
			<td colsapan = "2"><%= f.text_area :message, :rows => 2, :onkeyup => "return checkMaxlength(this)" %></td>
		</tr>
		
    <%# REFACTOR: WA: Move following logic in if statement to User model %>
    <%# Refactored: NG: I have moved it to application controller as finding current_user uses session which is undefined in models%>
		<% if public_user? %>
    <%# REFACTOR: WA: Instead of creating an instance variable, render f.hidden_field conditionally %>
    <%# Refactored: NG %>
   		<%= f.hidden_field :ttype, :value => "public" %>
		<% else %>
			<%= f.hidden_field :ttype, :value => "private" %>
		<% end %>
				
		<tr>
			<td><%= f.submit('Tweet', :class => 'tweetSubmit') %></td>
		</tr>
	</table>
<% end %>
