<%= form_for(@tweet) do |f| %>
	<table>
		<tr>
			<td colsapan = "2"><%= f.text_area :message, :rows => 2 %></td>
		</tr>
		
    <%# REFACTOR: WA: Move following logic in if statement to User model %>
    <%# Refactored: NG: I have moved it to application controller as finding current_user uses session which is undefined in models. %>
    <%# WA: You can create a method like User#public_user? and in there self.username.eql? "public_user" %>

		<% if public_user? %>
   		<%= f.hidden_field :ttype, :value => "public" %>
		<% else %>
			<%= f.hidden_field :ttype, :value => "private" %>
		<% end %>
				
		<tr>
			<td id = "charCount"><span id = "count"><b></b></span><span id = "button"><%= f.submit('Tweet', :class => 'tweetSubmit') %></td>
		</tr>
	</table>
<% end %>
